* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: monospace, sans-serif;
}

.container-grid {
display: grid;
grid-template-areas: 
"header menu menu"
"hero hero hero"
"main image image"
"main extra extra"
"banner banner banner";
grid-template-rows: 50px 400px repeat(3, 100px);
}

.header {
    background-color: #7638bd;
    grid-area: header;
}

.nav {
    background-color: red;
    grid-area: menu;
}

.hero {
    background-color: rgb(148, 173, 34);
    grid-area: hero;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    background-color: #a45ff3;
    grid-area: main;
}

.image {
    background-color: rgb(35, 82, 82);
    grid-area: image;
}

